.article-title {
    font-size: 1rem;
    font-weight: 800;
}

.main-title {
    font-size: 1.5rem;
    font-weight: 800; 
}

.more-story {
    padding-top: 1rem;
}

.more-story img {
    float: left;
    margin-bottom: 0.15rem;
    margin-right: 0.5rem;
    max-width: 33.33333%;
}

.image-div {
    color: red;
    position: relative;
    text-align: center;
}

.image-text {
    background: white;
    background: rgba(255, 255, 255, 0.8);
    bottom: -1rem;
    left: 0;
    position: absolute;
}

.featured-story .image-text {
    bottom: -0.5rem;
}

.slideshow .image-text {
    padding: 0.5rem;
}

.opinion img {
    background-color: red;
    float: left;
}

.opinion .article-title {
    margin-left: calc(80px + 0.15rem);
}

.latest-story img,
.other-section-stories img {
    float: left;
    max-width: 33.33333%;
}

.latest-story .article-title,
.other-section-stories .article-title {
    margin-left: calc(33.33333% + 0.15rem);
}

.n {
    background: red;
}

.n img {
    max-width: 29px;
}

.magazine-cover .article-title {
    color: black;
    font-size: 0.8rem;
}

.inmag-subtitle {
    font-size: 0.9rem;
}

.responsive-nav {
    z-index: 2000;
}

.navbar-brand .small {
    height: 1.25rem;
}

.navbar-brand .large {
    height: 3.75rem;
}

.navbar-toggler-icon {
    background-image: url(../images/bars-solid.png) !important;
}

.navbar-nav > li:hover {
    background-color: black;
}

.navbar-nav .nav-link:hover {
    color: white !important;
}

.logo img{
    max-height: 2.25rem;
}

.social img {
    height: 1.875rem;
}

.copyright {
    line-height: 0.8;
}

@media screen and (min-width: 992px){
    .responsive-nav form input {
        width: 100% !important;
    }
}
