

.article-title {
    font-size: 1rem;
    font-weight: 800;
}

.main-title {
    font-size: 1.5rem;
    font-weight: 800; 
}

.magazine-section > .main-title {
    color: red;
}

.more-story {
    padding-top: 1rem;
}

.more-story img {
    max-width: 33.33333%;
    float: left;
    margin-bottom: 0.15rem;
    margin-right: 0.5rem;
}

.featured-story .image-div,
.inside-magazine .image-div,
.editors-pick .image-div,
.slideshow .image-div {
    position: relative;
    text-align: center;
    color: red;
}

.featured-story .image-text,
.inside-magazine .image-text,
.editors-pick .image-text,
.slideshow .image-text {
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
}

.inside-magazine .image-text,
.editors-pick .image-text,
.slideshow .image-text {
    bottom: -1rem;
}

.slideshow .image-text {
    padding: 0.5rem;
}

.opinion img {
    background-color: red;
    float: left;
}

.opinion .article-title {
    margin-left: calc(100px + 0.15rem);
}

.latest-story img,
.other-section-stories img {
    float: left;
    max-width: 33.33333%;
}

.latest-story .article-title,
.other-section-stories .article-title {
    margin-left: calc(33.33333% + 0.15rem);
}

.magazine-cover .article-title {
    color: black;
    font-size: 0.8rem;
}

.inmag-subtitle {
    font-size: 0.9rem;
    font-weight: bold;
}

.inmag-subtitle span:first-child {
    background-color: red;
    color: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem; 
}

.inmag-subtitle span:last-child {
    color: red;
    margin-left: 0.5rem;
}

.logo img{
    max-height: 2.25rem;
    /* width: auto; */
}

.social img {
    height: 1.875rem;
}

.copyright {
    line-height: 0.8;
}